.main {
  margin-top: 10rem;
  margin-left: 14.5rem;
  margin-bottom: 5rem;
  max-width: 100%;
}

// Ant Design
.ant-table-cell {
  // white-space: nowrap;
  // // overflow: hidden;
  // // text-overflow: ellipsis;
  // max-width: 200px;
}