.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 9999;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
}